<h1>Portfolio Items</h1>

<%= link_to "Create A NEWIE WOO", new_portfolio_url %>

<%= render @portfolios %>

<% if false %>
 <%=render partial: 'portfolio_item', collection: @portfolio_items %>
 Partial part must be the partial's name. This whole code is to make it so we can use 
'portfolio_item' instead of just @portfolios.
<% end %>