<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MEH PORTFELLIO</h1>
    <p class="lead text-muted">This shows a bunch of cat photoes I stole, yey.</p>
    <p>
      <%= link_to 'FIND OUT MOAR ABUT ME!', about_me_path, class: 'btn btn-primary'%>
      <%= link_to 'MEH BLOUGS', blogs_path, class: 'btn btn-secondary'%>
    </p>
  </div>
</section>