<h1>About me, Jeremy Saysanasy.</h1>
<hr>

<div class="row">
  <div clas="col-md-4">
    <%= image_tag "profile.png", width: 300, alt: "MURK YOUR BIRDS" %>
  </div>
  
  <div class="col-md-8">
    <p>MUH NAME IS JWEMEMY AND I AM A weirdo of 17. I live in weirdo ytah. I leik to cude becuz
it be very funz andd it lot my imegination becom reliaty. Dere much fen in meking thig frem mend
bocuz it ur oen thig. Meny peple mey disagwee weth hew I luuk at cuding as bot I thenk cuding
is a pen andd peper. It let meh creute a wolrd liek I wood on peper. Oef curse net eveeone
luuk et cuding dis way becuz dey soemtiems don't use it to bild werlds bot tu insted fix them. </p>

    <p>Besid cuding I leik to daw and white. Dey, liek cuding halp meh bild werlds.</p>
  </div>
</div>

<hr>
<h3>THIS IS MEH FECEBOOK. Go dere if u want.</h3>
<a href = "https://www.facebook.com/profile.php?id=100015393220461"> CLECK HAIR</a>
