<h1>Contact</h1>

<p>MUH phone number: <%=number_to_phone "9119111111"%></p>

<p>The chance that my phone number is real: <%=number_to_percentage "13"%></p>

<p>MUH worth: <%=number_to_currency "1"%></p>

<p>Number of hippoes in existence: <%=number_with_delimiter "145234"%></p>