<div class = "app-card-container">
  <div class = "card">

    <div class ="row">
      <div class = "col-md-6">
         <h1>Contact</h1>
    
          <p class = "see">MUH phone number: <%=number_to_phone "9119111111"%></p>
    
          <p class = "see">The chance that my phone number is real: <%=number_to_percentage "13"%></p>
    
          <h4>Email me at:</h4>
          <p = "see">Jeremysaysanasy@gmail.com</p>
      </div>
    
   
      <div class = "col-md-6">
        <h3>MEH PLACE</h3>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.644546286335!2d-
        111.86164718509251!3d40.57152615413523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m
        2!1s0x875287f66400266d%3A0xf6bc43fca5401a5e!2s9896+Electra+Ln%2C+San
        dy%2C+UT+84094!5e0!3m2!1sen!2sus!4v1502124527349" width="200" height="300" frameborder="0" 
        style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>