<div class="inner cover">
 <h1 class="cover-heading">MEH PORTFELLIO WEBSET</h1>
 <p class="lead see">Hello dere, meh nem is Jwememy. Hew r u doin?</p>
 <p class="lead">
  <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
 </p>
</div>


